.heroBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #495e57;
    height: 400px;
}

.heroContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.heroTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: left;
  }

.heroTitleContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.heroContainer h1 {
    color: #f4ce14;
    margin-right: 20px;
    text-align: center;
    line-height: 0;
    font-size: clamp(10px, 3vw, 50px);
}

.heroContainer h4 {
    color: white;
    text-align: center;
    line-height: normal;
    font-size: clamp(10px, 1vw, 24px);
}

.heroContainer p {
    color: white;
    text-align: justify;
    font-size: clamp(5px, 1.4vw, 18px);
}

.heroImg {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.reserveBtn {
    font-family: 'Karla Regular', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    border-width: 0;
    border-radius: 10px;
    background-color: #f4ce14;
    width: 60%;
    padding: 10px;
    margin-top: 20px;
  }

.reserveBtn:hover {
    background-color: #e1bf13;
}

.reserveBtn:active {
    background-color: #d0b011;
}


@media (max-width: 770px) {
    .heroBox {
        margin-top: 12rem;
        height: auto;
    }

    .heroContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .heroTextContainer {
        order: 1;
        padding: 0 20px;
        align-items: center;
    }

    .heroTitleContainer {
        flex-direction: column;
        align-items: left;
        width: 100%;
    }

    .heroContainer h1 {
        font-size: clamp(10px, 10vw, 100px);
        margin-bottom: 20px;
        text-align: left;
    }

    .heroContainer h4 {
        font-size: clamp(2px, 4vw, 20px);
        text-align: left;
    }

    .heroContainer p {
        font-size: 16px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .heroImg {
        width: 65%;
        height: 30%;
        transform: translateY(-50%);
    }

    .reserveBtn {
        width: 80%;
        margin-bottom: 40px;
    }
}