.aboutBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #495e57;
}

.aboutImgContainer {
    display: flex;
    justify-content: center;
    padding: 15rem 0 10rem 0;
}

.aboutImg1 {
    transform: translate(-25%, 25%);
    width: 400px;
    height: 520px;
}

.aboutImg2 {
    position: absolute;
    z-index: 1;
    transform: translate(25%, -25%);
    width: 400px;
    height: 520px;
}

.aboutContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: left;
    width: 60%;
}

.aboutTitleContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.aboutTitleContainer h1 {
    color: #f4ce14;
    margin-right: 20px;
    text-align: center;
    line-height: 0;
    font-size: clamp(10px, 8vw, 50px);
}

.aboutTitleContainer h4 {
    color: white;
    text-align: center;
    line-height: normal;
    font-size: clamp(10px, 4vw, 24px);
}

.aboutDesc {
    color: white;
    text-align: justify;
    font-size: clamp(5px, 3vw, 18px);
}

@media (max-width: 768px) {
    .aboutContainer {
        width: 90%;
    }

    .aboutTitleContainer {
        flex-direction: column;
        align-items: left;
        width: 100%;
    }

    .aboutTitleContainer h1 {
        font-size: clamp(10px, 10vw, 100px);
        margin-bottom: 20px;
        text-align: left;
    }

    .aboutTitleContainer h4 {
        font-size: clamp(2px, 4vw, 20px);
        text-align: left;
    }

    .aboutTitleContainer p {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .aboutImg1 {
        width: 300px;
        height: 420px;
    }

    .aboutImg2 {
        width: 300px;
        height: 420px;
    }
}