.homeAboutBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: var(--ll-olive);
}

.homeAboutImgContainer {
    display: flex;
    justify-content: center;
    padding: 15rem 0 10rem 0;
}

.homeAboutImg1 {
    transform: translate(-25%, 25%);
    width: 400px;
    height: 520px;
}

.homeAboutImg2 {
    position: absolute;
    z-index: 1;
    transform: translate(25%, -25%);
    width: 400px;
    height: 520px;
}

.homeAboutContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-items: left;
    width: 60%;
}

.homeAboutTitleContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.homeAboutTitleContainer h1 {
    color: #f4ce14;
    margin-right: 20px;
    text-align: center;
    line-height: 0;
    font-size: clamp(10px, 8vw, 50px);
}

.homeAboutTitleContainer h4 {
    color: white;
    text-align: center;
    line-height: .75;
    font-size: clamp(10px, 4vw, 24px);
}

.homeAboutDesc {
    color: white;
    text-align: justify;
    font-size: clamp(5px, 3vw, 18px);
}

@media (max-width: 768px) {
    .homeAboutContainer {
        width: 90%;
    }

    .homeAboutTitleContainer {
        flex-direction: column;
        align-items: left;
        width: 100%;
    }

    .homeAboutTitleContainer h1 {
        font-size: clamp(10px, 10vw, 100px);
        margin-bottom: 20px;
        text-align: left;
        line-height: 1;
    }

    .homeAboutTitleContainer h4 {
        font-size: clamp(2px, 4vw, 20px);
        text-align: left;
    }

    .homeAboutTitleContainer p {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .homeAboutImg1 {
        width: clamp(50px, 60vw, 300px);
        height: clamp(60px, 70vw, 420px);
    }

    .homeAboutImg2 {
        width: clamp(50px, 60vw, 300px);
        height: clamp(60px, 70vw, 420px);
    }
}