.testimonialBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
}

.testimonialsArea {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

@media (max-width: 768px) {
    .testimonialBox {
        margin: 40px 0;
    }

    .testimonialsArea {
        flex-direction: column;
    }
}